# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
OPENAI_API_KEY=
VITE_OPENAI_API_KEY=

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=

# Privy, reference https://docs.privy.io
VITE_PRIVY_CLIENT_ID=
VITE_PRIVY_APP_ID=
PRIVY_APP_SECRET=

# Supabase - This can be gotten from Vercel or Supabase dashboard
# Database configuration
POSTGRES_URL=

VITE_RPC_URL=
